{% block title %}{{ lesson.titleLesson }}{% endblock %}

{% block body %}
    <h1>{{ lesson.titleLesson }}</h1>

    <h2>
        Курс:
        <a href="{{ path('course_show', {'idCourse': lesson.course.idCourse}) }}">
            {{ lesson.course.titleCourse }}
        </a>
    </h2>

    <div>
        {{ lesson.content|raw }}
    </div>

    <a href="{{ path('course_show_all') }}">Назад к курсам</a>
{% endblock %}